
@import '~antd/dist/antd.css';


#container .trigger:hover {
  color: #1890ff;
}

#container .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

#container .ant-layout-has-sider{
  height: 100%;

}
.ant-layout{
  height: 100%;
}